<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block layout:fragment="mainHeader">

    <title>급여(승진) 관리</title>

</th:block>

<th:block>

    <div layout:fragment="content">
        <!-- Content 시작 -->
        <div class="container-fluid">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
            <script src="/js.emp/mypage.js"></script>

            <!-- Head -->
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-70 w-421 py-2">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">My Page</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--직원 테이블 -->
            <div class="card shadow mb-4">

                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold text-primary">비밀번호 변경</h4>
                </div>

                <div class="card-body">

                    <!-- 직원조회 테이블 -->
                    <div id="TestPassWord">
                        <span sec:authentication="name"></span><span> 님의 암호를 변경합니다.</span><br><br>
                        <input type="password"  class="form-input checkPassWord"> <button type="button" class="btn btn-primary mb-3 checkPwBtn" th:text="확인"></button>
                    </div>
                    <p></p>
                    <hr>
                    <!-- 직원조회 테이블 끝 -->
                    <div id="PassWordUpdateDiv">
                    </div>
                </div>
            </div>
        </div>
        <!-- Content 끝 -->
    </div>


</th:block>

</html>