<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<th:block layout:fragment="mainHeader">
  <title>결재수신함</title>
</th:block>

<th:block>

  <div layout:fragment="content">

    <script>
      //상태 입력되면 hide 처리
      window.onload = function () {
        if($("#state").val() == "승인"){
          $("#notDone").hide();
        }

        if($("#state").val() == "반려"){
          $("#notDone").hide();
        }

        if($("#state").val() == "미결재"){
          $("#done").hide();
        }
      }

      //상태 처리하기
      function Ystate()  {
        const btnElement
                = document.getElementById('state');
        btnElement.value = "승인";

        //현재 시간
        var instantDate = new Date();
        var year = instantDate.getFullYear();
        var month = instantDate.getMonth() + 1;
        var setDate = instantDate.getDate();

        var formatDate = year+"-"+(("00"+month.toString()).slice(-2))+"-"+(("00"+setDate.toString()).slice(-2));

        var e = document.getElementById('time');
        e.value = formatDate;

      }

      function Nstate()  {
        const btnElement
                = document.getElementById('state');
        btnElement.value = "반려";

        //현재 시간
        var instantDate = new Date();
        var year = instantDate.getFullYear();
        var month = instantDate.getMonth() + 1;
        var setDate = instantDate.getDate();

        var formatDate = year+"-"+(("00"+month.toString()).slice(-2))+"-"+(("00"+setDate.toString()).slice(-2));

        var e = document.getElementById('time');
        e.value = formatDate;
      }

      function btn_confirm() {
        if ($("#state").val() == "미결재") {
          alert("승인여부를 선택해주세요");
          //페이지 이동 안되게 하기
          var e = window.event;
          e.preventDefault();
        }

        if ($("#state").val() == "승인" || $("#state").val() == "반려"){
          if (confirm("승인여부를 반영합니다") == true) {    //확인
          } else {   //취소
            return false;
          }
        }
      }
    </script>

    <!-- Content 시작 -->
    <div class="container-fluid">
      <!-- Head -->
      <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-70 w-421 py-2">
            <div class="col mr-2">
              <div class="h5 mb-0 font-weight-bold text-gray-800">Electronic Approval</div>
            </div>
          </div>
        </div>
      </div>

      <!-- 박스 시작-->
      <div style="margin-left: 8%">
        <form action="/levstate" method="post" onsubmit="return btn_confirm()">

        <div class="card shadow col-lg-11 p-0">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary float-left">전자결재 > 결재상신함</h6>
          </div>

          <div th:each="HrResponseDto : ${numDetail}" class="card-body container">
            <h3 class="text-center mb-3">휴가신청서</h3></br>
            <p class="float-left">결의번호</p>
            <input type="hidden" th:value="${numDetail.levId}" name="levId">
            <input th:value="${numDetail.levNum}" name="levNum" class="form-control col-2 ml-2 float-left" type="text" readonly>
            <table class="table table-bordered text-center align-middle col-8 ml-2 float-right">
              <thead>
              <tr>
                <th rowspan="2" class="align-middle">결재</th>
                <th>이름</th>
                <th>결재자</th>
              </tr>
              <tr>
                <td th:text="${numDetail.empName}"></td>
                <td th:text="${numDetail.appr}"></td>
              </tr>
              </thead>
            </table>

            <div>
              <table class="table table-bordered text-center col-auto">
                <thead>
                <tr>
                  <th>소속</th>
                  <td th:text="${numDetail.hqName+' '+numDetail.depName}"></td>
                  <th>상신일자</th>
                  <td th:text="${numDetail.applDate}"></td>
                </tr>
                <tr>
                  <th class="align-middle">제목</th>
                  <td th:text="${numDetail.levTitle}" colspan="3"></td>
                </tr>
                </thead>
              </table>
            </div>
            <div>
              <table class="table table-bordered text-center col-auto">
                <tr>
                  <th class="align-middle">휴가구분</th>
                  <td class="text-left" th:text="${numDetail.levType}">

                  </td>
                </tr>
                <tr>
                  <th class="align-middle" style="width: 150px; height: 300px;">내용</th>
                  <td class="text-left" th:text="${numDetail.levContent}">
                    <textarea type="text" class="form-control" style="height: 300px"></textarea></td>
                </tr>
                <tr>
                  <th class="align-middle">상태</th>
                  <td class="text-left" >
                    <div class="input-group input-daterange">
                      <input type="text" id="state" name="apprState" class="form-control col-lg-1 text-center"  th:value="${numDetail.apprState}">
                      <input type="text" id="time" name="apprDate"  class="form-control col-lg-3 text-center" th:value="${numDetail.apprDate}">

                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <div id="notDone">
              <div class="text-left" id="state_click">
                <button type="button" class="btn btn-primary" onclick="Ystate()" style="width: 100px">승인</button>　
                <button type="button" class="btn btn-danger" onclick="Nstate()" style="width: 100px">반려</button>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-dark" style="width: 100px">등록</button>　
                <button type="button" class="btn btn-dark" onclick="location='/edmsoutput'" style="width: 100px">취소</button>　
              </div>
            </div>

            <div id="done" class="text-center">
              <button type="button" class="btn btn-primary mt-5" style="width: 100px" onclick="location.href='/edmsoutput'">목록</button>
            </div>

          </div>
        </div>
        </form>
      </div>
    </div>
  </div>

  </div>
  <!-- Content 끝 -->

</th:block>

</html>