<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" xmlns="http://www.w3.org/1999/html">

<body>
<th:block layout:fragment="mainHeader">
  <title>휴가신청서 작성</title>
</th:block>

<th:block>
  <div layout:fragment="content">

    <!-- Content 시작 -->
    <div class="container-fluid">
      <!-- Head -->
      <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-70 w-421 py-2">
            <div class="col mr-2">
              <div class="h5 mb-0 font-weight-bold text-gray-800">Electronic Approval</div>
            </div>
          </div>
        </div>
      </div>

      <!-- 박스 시작-->

      <div style="margin-left: 8%">
        <form action="/levwriteinsert" method="POST" onsubmit="return submitBtn();" >
          <input type="hidden" class="appr_name" name="appr">
          <input type="hidden" id="appr_id" name="apprId">
          <input type="hidden" name="empId" th:value="${empInfo.empId}">
          <div class="card shadow col-lg-11 p-0">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary float-left">전자결재 > 결재상신함</h6>
            </div>
            <div class="card-body container">
              <h3 class="text-center mb-3">휴가신청서</h3></br>
              <div class="float-left">결의번호</div>
              <input class="form-control col-2 ml-2 float-left" th:value="${levNumView}" type="text" readonly>
              <table class="table table-bordered text-center align-middle col-8 ml-2 float-right">
                <thead>
                <tr>
                  <th rowspan="2" class="align-middle">결재</th>
                  <th>작성자</th>
                  <th>결재자</th>
                </tr>
                <tr>
                  <td>[[${empInfo.empName}]]</td>
                  <td class="appr_view"></td>
                </tr>
                </thead>
              </table>

              <div>
                <table class="table table-bordered text-center col-auto">
                  <thead>
                  <tr>
                    <th>소속</th>
                    <td>[[${empInfo.hqName}]] [[${empInfo.DepName}]] </td>
                    <th>상신일자</th>
                    <td id="date"></td>
                  </tr>
                  <tr>
                    <th class="align-middle">제목</th>
                    <td colspan="5"><input type="text" id="title" name="levTitle" class="form-control"></td>
                  </tr>
                  </thead>
                </table>
              </div>
              <div>
                <table class="table table-bordered text-center col-auto">
                  <tr>
                    <th class="align-middle">휴가구분</th>
                    <td>
                      <select class="form-control" id="type" name="levType">
                        <option value="" selected>선택</option>
                        <option value="오전반차">오전반차</option>
                        <option value="오후반차">오후반차</option>
                        <option value="연차">연차</option>
                      </select>
                    <th class="align-middle">날짜</th>
                    <td>
                      <div class="input-group input-daterange">
                        <input type="date" name="startDate" class="form-control col-lg-6">
                        <div class="input-group-addon">＿</div>
                        <input type="date" name="endDate" class="form-control col-lg-6">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="align-middle" style="width: 150px; height: 250px;">내용</th>
                    <td colspan="3">
                      <textarea type="text" id="contenttest" name="levContent" class="form-control" style="height: 250px"></textarea></td>
                  </tr>
                </table>
              </div>
              <!-- 결제선 모달 시작 -->
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal1" onclick="rowClicked()">결재선 등록</button>
              <div class="modal fade" id="modal1" data-backdrop="static" data-keyboard="false"
                   tabindex="-1" aria-labelledby="결재자리스트띄움" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-body">
<!--                      <div class="input-group mt-3">-->
<!--                        <input type="text" id="list" class="form-control bg-light" placeholder="이름을 입력하세요">　-->
<!--                        <button type="button" class="btn btn-primary">검색</button>-->
<!--                      </div></br>-->
                      <table class="table table-bordered table-hover text-center" id="dataTable"  width="100%" cellspacing="0">
                        <thead>
                        <tr>
                          <th>본부</th>
                          <th>부서</th>
                          <th>직급</th>
                          <th>성명</th>
                          <th style="display: none">사번</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="hr : ${hrList}">
                          <td th:text="${hr.hqName}"></td>
                          <td th:text="${hr.depName}"></td>
                          <td th:text="${hr.jobName}"></td>
                          <td id="td_name" th:text="${hr.empName}"></td>
                          <td th:text="${hr.empId}" style="display: none"></td>
                        </tr>
                        </tbody>
                      </table>
                      </div>
                    <div class="modal-footer">
                      <input type="hidden" id="hidden">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" id="submit" class="btn btn-primary" style="width: 100px">등록</button>
                <button type="button" class="btn btn-danger" onclick="location.href='/levwrite'" style="width: 100px">취소</button>
              </div>
            </div>
          </div>
        </form>
      </div>


      <script>

        //작성 날짜
        window.onload = function () {
          var date = new Date()
          var year = date.getFullYear()
          var month = date.getMonth() + 1
          var day = date.getUTCDate()
          var today = year + '-' + month + '-' + day
          $('#date').text(today);
        }

        //결재자 입력
        function rowClicked() {
          $('#dataTable_filter').show();

          var table =document.getElementById('dataTable');
          var rowList = table.rows;

          for (i=1; i<rowList.length; i++) {

            var row = rowList[i];
            var html = "";

            row.onclick = function(){
              return function(){

                var name = this.cells[3].innerHTML;
                var apprId = this.cells[4].innerHTML;
                html = name;


                document.querySelector(".appr_view").innerText = html;
                document.querySelector(".appr_name").value = html;

                //document.querySelector(".appr_view").innerText = apprId;
                document.querySelector("#appr_id").value = apprId;

                console.log($(".appr_name").val());
                console.log($("#appr_id").val());
              };
            }(row);
          }
        }

        //입력 안하고 제출할 시 알림창
        function submitBtn() {
          if ($('.appr').val() == "") {
            alert("결재자를 입력해주세요.");
            return false;
          }
          if($('#title').val() == "") {
            alert("제목을 입력해주세요.");
            return false;
          }
          if($('#type').val() == "") {
            alert("휴가구분을 입력해주세요.");
            return false;
          }
          if($('#contenttest').val() == "") {
            alert("내용을 입력해주세요.");
            return false;
          }
        }

        // function dateCal() {  날짜 계산하는 함수
        //  var datecar = new Date();
        //  var year = datecar.getFullYear();
        //  var month = datecar.getMonth()+1;
        //  var day = datecar.getDate();
        //
        //   var start = $("#startdate").val();
        //   var end = $("#enddate").val();
        //
        //   console.log(start);
        //   console.log(end);
        //  var cal = start.getTime() - end.getTime();
        //  var dt = cal / (1000*60*60*24);
        //  console.log("차이는?"+ dt);
        // }

      </script>


    </div>
  </div>
  <!-- Content 끝 -->
</th:block>


</body>

</html>