<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<th:block layout:fragment="mainHeader">
    <title>결재상신함</title>
</th:block>

<th:block>
    <div layout:fragment="content">
        <div class="container-fluid">

            <!-- 콘텐츠 내용 -->

            <!-- Head -->
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-70 w-421 py-2">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Electronic Approval</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 박스 시작-->
            <form action="/edms/edms_1" method="post">

                <div class="card shadow col-lg-auto p-0">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary float-left">전자결재 > 결재상신함</h6>
                    </div>
                    <div class="card-body container">
                        <h3 class="text-center mb-3">지출결의서</h3></br>
                        <div class="float-left">결의번호</div>
                        <input class="form-control col-2 ml-2 float-left" name="expNum" id="exp_num" type="text" value="SJCD-0008" readonly>
                        <!-- 테이블1 (결재자정보)-->
                        <table class="table table-bordered text-center align-middle col-8 ml-2 float-right">
                            <thead>
                            <tr>
                                <th rowspan="2" class="align-middle">결재</th>
                                <th>작성자</th>
                                <th>결재자</th>
                            </tr>
                            <tr>
                                <td>로그인된 사람</td>
                                <td><div id="apprText"></div><input type="hidden" name="appr" id="appr"></td>
                                                    <!--div input 밖에다 닫았더니 에러났음 -->

                            </tr>
                            </thead>
                        </table>
                        <div>
                            <!--  테이블2 (제목입력) -->
                            <table class="table table-bordered text-center col-auto">
                                <thead>
                                <tr>
                                    <th>소속</th>
                                    <td>로그인된 사람 부서</td>
                                    <th>상신일자</th>
                                    <td id="date"></td>
                                </tr>
                                <tr>
                                    <th class="align-middle">제목</th>
                                    <td colspan="3"><input type="text" name="expTitle" id="exp_title" class="form-control" placeholder="제목을 입력하세요"></td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div>
                            <!-- 테이블3 (과목 등등 선택)-->
                            <table class="table table-bordered text-center col-auto">
                                <thead>
                                <tr>
                                    <th>계정과목</th>
                                    <th>적요</th>
                                    <th>카드/계좌</th>
                                    <th>금액(원)</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td>
                                        <select class="form-control" name="detCode" id="det_code">
                                            <option value="선택" selected>선택</option>
                                            <option value="복리후생비">복리후생비</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="remk" id="remk" class="form-control"></td>
                                    <td>
                                        <select class="form-control" name="comAcc" id="com_acc">
                                            <option value="선택" selected>선택</option>
                                            <option value="기업은행 110-110-111111">기업은행 110-110-111111</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="expense" id="expense" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select class="form-control" name="detCode" id="det_code2">
                                            <option value="선택" selected>선택</option>
                                            <option value="복리후생비">복리후생비</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="remk" id="remk2" class="form-control"></td>
                                    <td>
                                        <select class="form-control" name="comAcc" id="com_acc2">
                                            <option value="선택" selected>선택</option>
                                            <option value="기업은행 110-110-111111">기업은행 110-110-111111</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="expense" id="expense2" class="form-control"></td>
                                </tr>


                            </table>
                        </div>
                        <div>
                            <!-- 테이블4(파일등록) -->
                            <table class="table table-bordered text-center col-auto">
                                <thead>
                                <tr>
                                    <th>증빙서류</th>
                                    <td><input type="file" class="form-control-file" id="file"></td>
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>

                        <!--결재선 버튼-->
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal1">
                            결재선 등록
                        </button>
                        <!-- Modal 모달 -->
                        <div class="modal fade" id="modal1" data-backdrop="static" data-keyboard="false"
                             tabindex="-1" aria-labelledby="결재자리스트띄움" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="input-group mt-3">
                                            <input type="text" id="list" class="form-control bg-light" placeholder="이름을 입력하세요">
                                            <button type="button" class="btn btn-primary">검색</button>
                                        </div></br>
                                        <table class="table table-bordered table-hover text-center" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>본부</th>
                                                <th>부서</th>
                                                <th>직급</th>
                                                <th>성명</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>HR본부</td>
                                                <td>경영관리팀</td>
                                                <td>과장</td>
                                                <td>홍길동</td>
                                            </tr>
                                            <tr>
                                                <td>솔루션사업본부</td>
                                                <td>ICT개발팀</td>
                                                <td>대리</td>
                                                <td>홍길순</td>
                                            </tr>
                                            <tr>
                                                <td>솔루션사업본부</td>
                                                <td>ICT개발팀</td>
                                                <td>대리</td>
                                                <td>홍길형</td>
                                            </tr>
                                            <tr>
                                                <td>솔루션사업본부</td>
                                                <td>ICT개발팀</td>
                                                <td>대리</td>
                                                <td>홍길자</td>
                                            </tr>
                                            <tr>
                                                <td>솔루션사업본부</td>
                                                <td>ICT개발팀</td>
                                                <td>대리</td>
                                                <td>홍길</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" id="hidden">
                                        <!--                    <button class="btn btn-primary" id="btn">확인</button>-->
                                        <button class="btn btn-secondary" data-dismiss="modal">취소</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" id="submit" class="btn btn-primary" style="width: 100px">등록</button>
                            <button type="button" class="btn btn-primary" style="width: 100px" onclick="location.href='/edms/edms_1'">취소</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>


</html>