<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" xmlns="http://www.w3.org/1999/html">

<th:block layout:fragment="mainHeader">
    <title>공지사항</title>
    <link href="/etc/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link href="/etc/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/etc/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/etc/css/hr_emp.css" rel="stylesheet">

</th:block>

<th:block>
    <div layout:fragment="content">
        <!-- Content 시작 -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div> -->

            <!-- Head -->
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-70 w-421 py-2">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Information</div>
                        </div>
                    </div>
                </div>
            </div>

            <form action="/board/upload" method="post">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold text-primary">게시글 작성</h4>
                    </div>
                    <div class="card-body">
                        <br>
                        <table class="table table-bordered" id="table-writing" width="100%" cellspacing="0">
                            <tbody>
                            <tr>
                                <td>제목</td>
                                <td><input type="text" class="form-input" name="title" id="title"/></td>
                            </tr>
                            <tr>
                                <td>작성자</td>
                                <td><input type="text" class="form-input" name="writer" readonly/></td>
                            </tr>
                            <tr>
                                <td>비밀번호</td>
                                <td><input type="password" class="form-input"name="password"/></td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td><textarea cols="50" rows="10" name="content" id="content" ></textarea></td>
                            </tr>

<!--                            <tr>-->
<!--                                <td>첨부파일</td>-->
<!--                                <td><input type="file" name="fileName" id="fileName"></td>-->
<!--                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                    <div class="writing-footer">
                        <button type="button" class="btn btn-secondary">취소</button>
                        <button type="submit" class="btn btn-primary" id="register">등록</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>


    <!-- /.container-fluid -->

    </div> <!-- Content 끝 -->
    <!-- 콘텐츠 내용 -->

    <!--모달 1. 끝-->


    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    </div> <!-- Content 끝 -->

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/board/board.js"></script>

    </div>
</th:block>

</html>

