<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choongang.erpproject.accounting.mapper.AccMapper">

    <sql id="accRequestColumns">
        stat_num
        , stat_date
        , exp_num
        , emp_id
    </sql>

    <sql id="accColumns">
        stat_num
        , stat_date
        , com_acc
        , emp_id
        , emp_name
        , exp_num
        , appl_date
        , appr_date
        , appr
        , expense
        , income
    </sql>

    <insert id="insertAccInfo" parameterType="AccRequestDto">
        INSERT INTO acv (
        <include refid="accRequestColumns" />
        ) VALUES (
                  #{statNum}
                , NOW()
                , #{expNum}
                , #{empId}
        )
    </insert>

    <select id="getAccList" resultType="AccResponseDto">
        SELECT stat_num
             , com_acc
             , stat_date
             , expense
             , income
        FROM acv
        LEFT JOIN expreport
        ON acv.exp_num = expreport.exp_num
    </select>

    <select id="getAccDetail" parameterType="long" resultType="AccResponseDto">
        SELECT emp_name
             , appr
             , appr_date
             , com_acc
             , expense
        FROM acv
        INNER JOIN expreport
        ON acv.exp_num = expreport.exp_num
        INNER JOIN emp_table
        ON acv.emp_id = emp_table.emp_id
        WHERE stat_num = #{statNum};
    </select>

    <select id="getExpNum" parameterType="long" resultType="String">
        SELECT exp_num
        FROM acv
        WHERE stat_num = #{statNum}
    </select>

    <select id="listCount" parameterType="AccResponseDto" resultType="int">
        SELECT
            COUNT(*)
        FROM
            acv
    </select>

</mapper>
