<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.choongang.erpproject.board.dao.BoardMapper">

    <select id="searchboard" resultType="com.choongang.erpproject.board.dto.BoardDto">
        select board_num, title, writer, DATE_FORMAT(date, '%Y-%m-%d') as date, content, cbnNum
        from notice
        <where>
            <if test="start != null and start != ''">
                AND DATE_FORMAT(date, '%Y-%m-%d') <![CDATA[ >= ]]> #{start}
            </if>
            <if test="end != null and end != ''">
                AND DATE_FORMAT(date, '%Y-%m-%d') <![CDATA[ <= ]]> #{end}
            </if>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%',#{title},'%')
            </if>
        </where>
    </select>

    <update id="updateViewCnt">
        update notice
        set cbnNum = cbnNum + 1
        where ntc_num = #{ntcNum}
    </update>


    <select id="selectBoardList" resultType="com.choongang.erpproject.board.dto.BoardDto">
        select board_num, title, writer, DATE_FORMAT(date, '%Y-%m-%d') as date, cbn_num
        from board
    </select>

    <select id="selectBoard" resultType="com.choongang.erpproject.board.dto.BoardDto">
        select title, writer, DATE_FORMAT(date, '%Y-%m-%d') as date, content
        from board
        WHERE board_num = #{boardNum}
    </select>

    <insert id="insertBoard">
        INSERT INTO board(title, writer, content, password)
        values (#{title}, #{writer}, #{content}, #{password})
    </insert>


</mapper>
