<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choongang.erpproject.edms.mapper.EdmsMapper">

    <!--상신함 조회-->
    <select id="findAll" parameterType="EdmsRequestDto" resultType="EdmsResponseDto">
        SELECT *
        FROM view_expreport
        WHERE appr_id = #{apprId}
        UNION ALL
        SELECT *
        FROM view_lev_table
        WHERE appr_id = #{apprId}
        ORDER BY appl_time DESC

    </select>


</mapper>

