<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choongang.erpproject.edms.mapper.AcMapper">

    <select id="selectList" resultType="AcResponseDto">
        SELECT maj_code, exp_num, exp_title, appl_date, appr_state
        FROM expreport
        GROUP BY exp_num ORDER BY exp_num DESC
    </select>

    <select id="selectDetail" parameterType="String" resultType="AcResponseDto">
        select exp_num,emp_table.emp_name, appr, pstn_code.job_name, hdqrt_code.hq_name, dep_code.dep_name , appl_date, exp_title, att_file, appr_state, det_code, remk, com_acc, expense, appr_date
        FROM expreport
            INNER JOIN emp_table ON expreport.emp_id = emp_table.emp_id
            INNER JOIN pstn_code ON pstn_code.job_code = emp_table.job_code
            INNER JOIN hdqrt_code ON hdqrt_code.hq_code = emp_table.hq_code
            INNER JOIN dep_code ON dep_code.dep_no = emp_table.dep_no
        WHERE exp_num = #{expNum};
    </select>

    <insert id="insert" parameterType="AcRequestDto">
        INSERT INTO expreport (exp_title,det_code, remk, com_acc,expense,exp_num,appr,appl_date,maj_code)
        VALUES (#{expTitle},#{detCode},#{remk},#{comAcc},#{expense},#{expNum},#{appr},now(),"회계")
    </insert>

    <insert id="insertList" parameterType="List">
        INSERT INTO expreport (exp_title,det_code, remk, com_acc,expense,exp_num,appr,appl_date,maj_code)
        VALUES
            <foreach collection="list" separator="," item="ac">
            (#{ac.expTitle},#{ac.detCode},#{ac.remk},#{ac.comAcc},#{ac.expense},#{ac.expNum},#{ac.appr},now(),"회계")
            </foreach>
    </insert>

    <update id="update" parameterType="AcRequestDto">
        UPDATE expreport
        SET appr_state = #{apprState}, appr_date = #{apprDate}
        WHERE exp_num = #{expNum}
    </update>

</mapper>
