<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choongang.erpproject.edms.mapper.HrMapper">

    <sql id="insertHrColumns">
        lev_num
        , emp_id
        , appr
        , appr_state
        , appr_date
        , appl_date
        , lev_type
        , lev_title
        , lev_content
        , start_date
        , end_date
        , lev_term
    </sql>

    <!-- 결의번호 생성 -->
    <select id="levNumView" resultType="String">
        SELECT concat("SJLD-",LPAD((MAX(CONVERT(SUBSTRING(lev_num,6,10),signed integer)))+1,4,0))
        FROM lev_table
    </select>

    <!-- 목록 조회 -->
    <select id="getLevList" resultType="HrResponseDto">
        SELECT lev_id,
               lev_num,
               lev_title,
               appl_date,
               appr_state
        FROM lev_table
        WHERE emp_id = #{empId}
    </select>

    <!-- 상세 조회 -->
    <select id="getLevDetail" parameterType="Long" resultType="HrResponseDto">
        SELECT lev_id
             , lev_num
             , emp_id
             , appr
             , appr_state
             , appr_date
             , appl_date
             , lev_type
             , lev_title
             , lev_content
        FROM lev_table
        where lev_num = #{levNum}
    </select>

    <!-- 상세 조회 -->
    <select id="selectDetail" parameterType="Long" resultType="HrResponseDto">
        select lev_id, lev_num, emp_table.emp_name, appr, pstn_code.job_name, hdqrt_code.hq_name, dep_code.dep_name, appr_state ,appl_date, appr_date, lev_type, lev_title, lev_content, start_date, end_date, lev_term
        FROM lev_table
                 INNER JOIN emp_table ON lev_table.emp_id = emp_table.emp_id
                 INNER JOIN pstn_code ON pstn_code.job_code = emp_table.job_code
                 INNER JOIN hdqrt_code ON hdqrt_code.hq_code = emp_table.hq_code
                 INNER JOIN dep_code ON dep_code.dep_no = emp_table.dep_no
        WHERE lev_id = #{levId};
    </select>

    <!-- 결재자 리스트 -->
    <select id="selectHrList" resultType="HrResponseDto">
        select emp_id, hdqrt_code.hq_name,dep_code.dep_name,pstn_code.job_name, emp_name
        from emp_table as et
                 INNER JOIN pstn_code ON pstn_code.job_code = et.job_code
                 INNER JOIN hdqrt_code ON hdqrt_code.hq_code = et.hq_code
                 INNER JOIN dep_code ON dep_code.dep_no = et.dep_no
    </select>

    <!-- 작성자 불러오기 -->
    <select id="selectWriter" resultType="HrResponseDto">
        SELECT emp_id, emp_name, hdqrt_code.hq_name, dep_code.dep_name
        FROM emp_table as bb
                 INNER JOIN hdqrt_code ON hdqrt_code.hq_code = bb.hq_code
                 INNER JOIN dep_code ON dep_code.dep_no = bb.dep_no
        WHERE bb.emp_id = #{empId}
    </select>

    <!-- 작성글 등록 -->
    <insert id="writeSave" parameterType="HrRequestDto">
        insert into lev_table(appr, appl_date, lev_title, lev_type, start_date, end_date, lev_term, lev_content, emp_id, maj_code, appr_id)
            values (#{appr}, now(), #{levTitle}, #{levType}, #{startDate}, #{endDate}, #{levTerm}, #{levContent}, #{empId}, "인사", #{apprId})
    </insert>

    <!-- 수신함 상태 업데이트 -->
    <update id="stateSave" parameterType="HrRequestDto">
        UPDATE lev_table
        SET appr_state = #{apprState}, appr_date = #{apprDate}
        WHERE lev_id = #{levId}
    </update>

    <select id="listCount" resultType="int">
        select count(*) from lev_table
    </select>

</mapper>
