<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.choongang.erpproject.info.dao.NoticeMapper">

    <select id="searchnotice" resultType="com.choongang.erpproject.info.dto.NoticeDto">
        select ntc_num, title, writer, DATE_FORMAT(date, '%Y-%m-%d') as date, content, cbnNum
        from notice
        <where>
            del_yn = 'n'
            <if test="start != null and start != ''">
                AND DATE_FORMAT(date, '%Y-%m-%d') <![CDATA[ >= ]]> #{start}
            </if>
            <if test="end != null and end != ''">
                AND DATE_FORMAT(date, '%Y-%m-%d') <![CDATA[ <= ]]> #{end}
            </if>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%',#{title},'%')
            </if>
        </where>
    </select>

    <update id="updateViewCnt">
        update notice
        set cbnNum = cbnNum + 1
        where ntc_num = #{ntcNum}
    </update>


    <select id="selectNoticeList" resultType="com.choongang.erpproject.info.dto.NoticeDto">
        select ntc_num, title, writer, DATE_FORMAT(date, '%Y-%m-%d') as date, content, cbnNum
        from notice
        where del_yn = 'n'
    </select>

    <select id="selectNotice" resultType="com.choongang.erpproject.info.dto.NoticeDto">
        select ntc_num, title, writer, DATE_FORMAT(date, '%Y-%m-%d') as date, content, uuid, file_name
        from notice
        WHERE ntc_num = #{ntcNum}
    </select>

    <insert id="insertNotice">
        INSERT INTO notice(title, content, uuid, file_name)
        values (#{title}, #{content}, #{uuid}, #{fileName})
    </insert>

    <update id="deleteNotice">
        update notice
        set del_yn = 'y'
        where ntc_num = #{ntcNum}
    </update>


    <update id="updateNotice">
        update notice
        set title = #{title}, content = #{content}, uuid=#{uuid}, file_name=#{fileName}
        where ntc_num = #{ntcNum}
    </update>

</mapper>
