<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choongang.erpproject.main.mapper.MainMapper">

    <select id="getCalAll" parameterType="String" resultType="Map">
        SELECT CONCAT(e.emp_name
            , CONCAT(' ', l.lev_type)) AS emp_name
             , l.start_date
             , l.end_date
        FROM lev_table AS l
                 INNER JOIN emp_table AS e
                            ON l.emp_id = e.emp_id
    </select>

    <select id="getCalDetail" parameterType="MainRequestDto" resultType="MainResponseDto">

        SELECT dep_code.dep_name, emp_name, pstn_code.job_name, lev_type
        FROM lev_table
                 INNER JOIN emp_table ON lev_table.emp_id = emp_table.emp_id
                 INNER JOIN dep_code ON dep_code.dep_no = emp_table.dep_no
                 INNER JOIN pstn_code ON pstn_code.job_code = emp_table.job_code
        WHERE start_date = #{startDate};

    </select>

    <select id="getHireDash" parameterType="MainRequestDto" resultType="int">
        SELECT COUNT(*)
        FROM lev_table
        WHERE SUBSTRING(end_date, 6, 2) = #{month}
    </select>

    <select id="getEmpDash" resultType="Long">
        SELECT count(*)
        FROM emp_table;
    </select>

    <select id="getExpreportDash" parameterType="MainRequestDto" resultType="int">
        SELECT count(*)
        FROM expreport
        WHERE appr_id = #{empId}
          AND appr_state = 'N'
    </select>

    <select id="getNoticeDash" resultType="MainResponseDto">
        SELECT ntc_num, title, SUBSTRING(date, 1, 10) AS date
        FROM notice
        ORDER BY ntc_num DESC LIMIT 10;
    </select>

</mapper>
