<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choongang.eprproject.dao.erpDao">
    <select id="selectAll" resultType="com.choongang.eprproject.test.TestDto">
    SELECT * FROM erpprojectdb.emp_table
    </select>
</mapper>