<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choongang.erpproject.login.repository.UserMapper">
<!--    <select id="findUserByUsername" resultType="UserDto">-->
<!--        SELECT user_id userId, username, password, role-->
<!--        FROM user-->
<!--        WHERE username = #{username}-->
<!--    </select>-->

    <select id="findById" resultType="UserDto">
        SELECT emp_id, emp_name, pw, auth_code
        FROM erpprojectdb.emp_table
        WHERE emp_id = #{emp_id}
    </select>

    <insert id="save" parameterType="UserDto">
        INSERT INTO erpprojectdb.emp_table (emp_id, emp_name, pw, auth_code)
        VALUES ( #{emp_id}, #{emp_name}, #{pw}, #{auth_code} )
    </insert>
</mapper>