<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">


<th:block layout:fragment="mainHeader">

    <title>급여(승진) 관리</title>

</th:block>

<th:block>

    <div layout:fragment="content">
        <!-- Content 시작 -->
        <div class="container-fluid">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
           <script src="/js/emp/empJsBox.js"></script>

            <!-- Head -->
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-70 w-421 py-2">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Administration</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--직원 테이블 -->
            <div class="card shadow mb-4">

                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold text-primary">직원 조회</h4>
                </div>

                <div class="card-body">
                    <!-- 직원조회 테이블 검색 기능(등록버튼포함) -->
                    <div class="table-responsive">
                        <div class="input-group">　
                            <input type="date" class="form-control bg-light border-1 small"
                                   aria-label="start" id="searchDateStart">
                            <data class="dash">-</data>
                            <input type="date" class="form-control bg-light border-1 small" aria-label="end" id="searchDateEnd">　
                            <select class="form-control bg-light border-1 small" id="dep">
                                <option value="">부서</option>
                                <option value="SJDP_0001">경영관리부</option>
                                <option value="SJDP_0002">솔루션개발부</option>
                                <option value="SJDP_0003">SI개발부</option>
                                <option value="SJDP_0004">영업부</option>
                                <option value="SJDP_0005">전략기획부</option>
                                <option value="SJDP_0006">인사관리부</option>
                            </select>　
                            <select class="form-control bg-light border-1 small" id="pstn">
                                <option value="">직급</option>
                                <option value="SJPS_0001">사원</option>
                                <option value="SJPS_0002">대리</option>
                                <option value="SJPS_0003">과장</option>
                                <option value="SJPS_0004">팀장</option>
                                <option value="SJPS_0005">부장</option>
                                <option value="SJPS_0006">상무</option>
                                <option value="SJPS_0007">전무</option>
                                <option value="SJPS_0008">부대표</option>
                                <option value="SJPS_0009">대표</option>
                            </select>　
                            <input type="text" class="form-control bg-light border-1 small searchHrName" placeholder="이름"
                                   aria-label="name" id="empName"> 　
                            <button class="btn btn-primary float-right mb-3 searchHrTable" type="button">검색</button>　
                            <button type="button" class="btn btn-primary float-right mb-3 hiddenEmpInput" data-toggle="modal" data-target="#ecmodal">등록</button>
                        </div>
                    </div>
                    <br>
                    <!-- 직원조회 테이블 검색 기능(등록버튼포함) 끝 -->
                    <!-- 직원조회 테이블 -->
                    <div id="filterDiv">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>직원번호</th>
                            <th>구분</th>
                            <th>성명</th>
                            <th>생년월일</th>
                            <th>휴대전화</th>
                            <th>이메일</th>
                            <th>부서</th>
                            <th>직급</th>
                            <th>입사일</th>
                            <th>재직구분</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="hrTable : ${hrTable}">
<!--                            <div style="display:block;" th:attrappend="id=${hrTableStat.index}" >-->

                            <td class="hiddenEmpId" th:text="${hrTable.empId}"></td>
                            <td>
                                <!--                                    <span th:text="${hrTable.authCode}"></span> 권한코드-->
                                <span th:if="${hrTable.authCode == 'SJAU_0001'}">직원</span>
                                <span th:if="${hrTable.authCode == 'SJAU_0002'}">임원</span>
                                <span th:if="${hrTable.authCode == 'SJAU_0003' or hrTable.authCode == 'SJAU_0004'}">담당</span>
                                <span th:if="${hrTable.authCode == 'SJAU_0005'}">관리자</span>
                            </td>
                            <td>
                                <button class="hiddenEmpName"
                                        data-toggle="modal" data-target="#ecmodal2"
                                        style="background: none; border: none; color: #4e73df;"₩
                                        th:text="${hrTable.empName}">
                                </button>
                            </td>
                            <td><span th:text="${hrTable.birth}"></span></td>
                            <td><span th:text="${hrTable.tel}"></span></td>
                            <td><span th:text="${hrTable.email}"></span></td>
                            <td>
                                <!--                                    <span th:text="${hrTable.depNo}"></span>  부서코드-->
                                <span th:if="${hrTable.depNo == 'SJDP_0001'}">경영관리부</span>
                                <span th:if="${hrTable.depNo == 'SJDP_0002'}">솔루션개발부</span>
                                <span th:if="${hrTable.depNo == 'SJDP_0003'}">SI개발부</span>
                                <span th:if="${hrTable.depNo == 'SJDP_0004'}">영업부</span>
                                <span th:if="${hrTable.depNo == 'SJDP_0005'}">전략기획부</span>
                                <span th:if="${hrTable.depNo == 'SJDP_0006'}">인사관리부</span>
                            </td>
                            <td>
                                <!--                                    <span th:text="${hrTable.jobCode}"></span>  직급코드-->
                                <span th:if="${hrTable.jobCode == 'SJPS_0001'}">사원</span>
                                <span th:if="${hrTable.jobCode == 'SJPS_0002'}">대리</span>
                                <span th:if="${hrTable.jobCode == 'SJPS_0003'}">과장</span>
                                <span th:if="${hrTable.jobCode == 'SJPS_0004'}">팀장</span>
                                <span th:if="${hrTable.jobCode == 'SJPS_0005'}">부장</span>
                                <span th:if="${hrTable.jobCode == 'SJPS_0006'}">상무</span>
                                <span th:if="${hrTable.jobCode == 'SJPS_0007'}">전무</span>
                                <span th:if="${hrTable.jobCode == 'SJPS_0008'}">부대표</span>
                                <span th:if="${hrTable.jobCode == 'SJPS_0009'}">대표</span>
                            </td>
                            <td><span th:text="${hrTable.hireDate}"></span></td>
                            <td>
                                <!--                                    <span th:text="${hrTable.resYn}"></span 퇴직유무yn-->
                                <span th:if="${hrTable.resYn == 'y'}">퇴사</span>
                                <span th:if="${hrTable.resYn == 'n'}">재직</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <!-- 직원조회 테이블 끝 -->
                    <!--모달 1. 직원등록 -->
                    <div class="modal fade" id="ecmodal" data-backdrop="static" data-keyboard="false"
                         tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content modal-inputEmp">
                            </div>
                        </div>
                    </div>
                    <!--모달 1. 끝 -->
                    <!--모달 2. 해당 직원 조회 -->
                    <div class="modal fade" id="ecmodal2" data-backdrop="static" data-keyboard="false"
                         tabindex="-1" aria-hidden="true" >
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <!--empTable.js  자바스크립트사용-->
                            <div class="modal-content modal-searchEmp" >
                            </div>
                        </div>
                    </div>
                    <!--모달 2. 끝-->
                    <!--모달 3. 해당 직원 수정 -->
                    <div class="modal fade" id="ecmodal3" data-backdrop="static" data-keyboard="false"
                         tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <!--empUpdate.js  자바스크립트사용-->
                            <div class="modal-content modal-updateEmp" >
                            </div>
                        </div>
                    </div><br>
                    <!--모달 3. 끝-->
                </div>
            </div>
        </div>
        <!-- Content 끝 -->
    </div>


</th:block>

</html>