<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <title>SJHT ERP System</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- 템플릿 주소 -->
  <link href="/static/etc/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
  <link href="/static/etc/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="/static/etc/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">`
  <script
          src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
  <script>
    $(document).ready(function (){
      $('#dataTable tr').click(function(){
        var tr = $(this).find("td:last");
        $("#result").text(tr.text());
        $('#modal1').modal('hide')
      })
    });
  </script>
</head>

<body id="page-top">
<!-- 사이드바 -->
<div id="wrapper">
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-text mx-3">SJHT</div>
    </a>

    <!-- 구분선 -->
    <hr class="sidebar-divider my-0">

    <!-- 메인 페이지 -->
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <span>메인</span></a>
    </li>

    <!-- 구분선 -->
    <hr class="sidebar-divider">

    <!-- 인사 페이지(슬라이드) -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
         aria-expanded="true" aria-controls="collapseTwo">
        <span>인사</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">인사 관리</h6>
          <a class="collapse-item" href="hr_emp.html">직원 조회</a>
          <a class="collapse-item" href="hr_sal.html">급여(승진) 관리</a>
        </div>
      </div>
    </li>

    <!-- 회계 페이지(슬라이드) -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
         aria-expanded="true" aria-controls="collapseUtilities">
        <span>회계</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
           data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">회계 관리</h6>
          <a class="collapse-item" href="backup/ac.html">전표 관리</a>
        </div>
      </div>
    </li>

    <!-- 전자결재 페이지(슬라이드) -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
         aria-expanded="true" aria-controls="collapsePages">
        <span>전자결재</span>
      </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">전자결재 관리</h6>
          <a class="collapse-item" href="ec_1.html">결재상신함</a>
          <a class="collapse-item" href="ec_2.html">결재수신함</a>
        </div>
      </div>
    </li>

    <!-- 공지사항 페이지 -->
    <li class="nav-item">
      <a class="nav-link" href="nt.html">
        <span>공지사항</span></a>
    </li>

    <!-- 마이페이지(슬라이드로 변경함) -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#myPages"
         aria-expanded="true" aria-controls="collapsePages">
        <span>마이페이지</span>
      </a>
      <div id="myPages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">내 정보 관리</h6>
          <a class="collapse-item" href="mp.html">내 정보 변경</a>
          <a class="collapse-item" href="mp2.html">비밀번호 변경</a>
        </div>
      </div>
    </li>

    <!-- 구분선 -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- 사이드바 작게 만드는 화살표 -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>

  <!-- Content 박스 -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- 메인 Content -->
    <div id="content">

      <!-- 상단 -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown no-arrow d-sm-none"></li>

          <!-- 로그인 정보(프로필, 로그아웃) -->
          <div class="topbar-divider d-none d-sm-block"></div>
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">님 안녕하세요.</span>
            </a>
            <!-- Dropdown - 프로필, 로그아웃 -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- 상단 끝 -->

      <!-- Content 시작 -->
      <div class="container-fluid">
        <!-- Head -->
        <div class="row">
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-70 w-421 py-2">
              <div class="col mr-2">
                <div class="h5 mb-0 font-weight-bold text-gray-800">Electronic Approval</div>
              </div>
            </div>
          </div>
        </div>
        <!-- 박스 시작-->
        <div class="card shadow col-lg-auto p-0">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary float-left">전자결재 > 결재상신함</h6>
          </div>
          <div class="card-body container">
            <h3 class="text-center mb-3">지출결의서</h3></br>
            <div class="float-left">결의번호</div>
            <input class="form-control col-2 ml-2 float-left" id="exp_num" type="text" disabled>
            <!-- 테이블1 (결재자정보)-->
            <table class="table table-bordered text-center align-middle col-8 ml-2 float-right">
              <thead>
              <tr>
                <th rowspan="2" class="align-middle">결재</th>
                <th>작성자</th>
                <th>결재자</th>
              </tr>
              <tr>
                <td>홍길동 사원</td>
                <td><div id="result"></div></td>
              </tr>
              </thead>
            </table>
            <div>
              <!--  테이블2 (제목입력) -->
              <table class="table table-bordered text-center col-auto">
                <thead>
                <tr>
                  <th>소속</th>
                  <td>성진하이텍지주 글로벌전략부</td>
                  <th>상신일자</th>
                  <td>2022-01-01</td>
                </tr>
                <tr>
                  <th class="align-middle">제목</th>
                  <td colspan="3"><input type="text" id="title" class="form-control" placeholder="제목을 입력하세요"></td>
                </tr>
                </thead>
              </table>
            </div>
            <div>
              <!-- 테이블3 (과목 등등 선택)-->
              <table class="table table-bordered text-center col-auto">
                <thead>
                <tr>
                  <th>계정과목</th>
                  <th>적요</th>
                  <th>카드/계좌</th>
                  <th>금액(원)</th>
                </tr>
                </thead>
                <tr>
                  <td>
                    <select class="form-control" id="select1">
                      <option selected>선택</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </td>
                  <td><input type="text" id="summary" class="form-control"></td>
                  <td>
                    <select class="form-control" id="select2">
                      <option selected>선택</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </td>
                  <td><input type="text" id="sum" class="form-control"></td>
                </tr>

              </table>

            </div>
            <div>
              <!-- 테이블4(파일등록) -->
              <table class="table table-bordered text-center col-auto">
                <thead>
                <tr>
                  <th>증빙서류</th>
                  <td><form>
                      <input type="file" class="form-control-file" id="file">
                  </form></td>
                </td>
                </tr>
                </thead>
              </table>
            </div>

            <!--결재선 버튼-->
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal1">
              결재선 등록
            </button>
            <!-- Modal 모달 -->
            <div class="modal fade" id="modal1" data-backdrop="static" data-keyboard="false"
                 tabindex="-1" aria-labelledby="결재자리스트띄움" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="input-group mt-3">
                      <input type="text" id="list" class="form-control bg-light" placeholder="이름을 입력하세요">
                      <button type="button" class="btn btn-primary">검색</button>
                    </div></br>
                      <table class="table table-bordered table-hover text-center" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                      <tr>
                        <th>본부</th>
                        <th>부서</th>
                        <th>직급</th>
                        <th>성명</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>HR본부</td>
                        <td>경영관리팀</td>
                        <td>과장</td>
                        <td>홍길동</td>
                      </tr>
                      <tr>
                        <td>솔루션사업본부</td>
                        <td>ICT개발팀</td>
                        <td>대리</td>
                        <td>홍길순</td>
                      </tr>
                      <tr>
                        <td>솔루션사업본부</td>
                        <td>ICT개발팀</td>
                        <td>대리</td>
                        <td>홍길형</td>
                      </tr>
                      <tr>
                        <td>솔루션사업본부</td>
                        <td>ICT개발팀</td>
                        <td>대리</td>
                        <td>홍길자</td>
                      </tr>
                      <tr>
                        <td>솔루션사업본부</td>
                        <td>ICT개발팀</td>
                        <td>대리</td>
                        <td>홍길</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <input type="hidden" id="hidden">
<!--                    <button class="btn btn-primary" id="btn">확인</button>-->
                    <button class="btn btn-secondary" data-dismiss="modal">취소</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center">
            <button class="btn btn-primary" style="width: 100px">등록</button>
            <button class="btn btn-primary" style="width: 100px">취소</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content 끝 -->


  <!-- User 클릭 후 로그아웃 버튼-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">로그아웃하시겠습니까?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">현재 세션을 종료할 준비가 되었으면 아래의 "로그아웃"을 선택하십시오.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/dologout">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 부트스트랩 -->
<!-- Bootstrap core JavaScript-->
<script src="/static/etc/vendor/jquery/jquery.min.js"></script>
<script src="/static/etc/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/etc/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/static/etc/js/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<script src="/static/etc/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/etc/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/etc/js/demo/datatables-demo.js"></script>

</body>

</html>