<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="/static/etc/css/hr_emp.css" rel="stylesheet">
</head>

<body>

<form class="signup-form" action="/register" method="post">

  <!-- form header -->
  <div class="form-header">
    <h1>직원 등록</h1>
  </div>

  <!-- form body -->
  <div class="form-body">

    <div class="horizontal-group">
      <div class="form-group left">
        <label for="firstname" class="label-title">이름 *</label>
        <input type="text" id="firstname" class="form-input" placeholder="enter your name" required="required" />
      </div>
      <div class="form-group right">
        <label for="birth" class="label-title">생년월일 *</label>
        <input type="text" id="birth" class="form-input" placeholder="Ex)19000101" required="required">
      </div>
    </div>

    <div class="horizontal-group">
      <div class="form-group left">
        <label for="email" class="label-title">이메일 *</label>
        <input type="email" id="email" class="form-email" placeholder="enter your email" required="required">
      </div>
      <div class="form-group right">
        <label for="email" class="label-title">　</label>
        <input type="email" id="emailad" class="form-email" placeholder="@sjht.ac.kr" required="required">
      </div>
    </div>

    <div class="form-group">
      <label for="phone" class="label-title">휴대전화 *</label>
      <input type="email" id="phone" class="form-input" placeholder="enter your phone number" required="required">
    </div>

    <div class="form-group">
      <label for="startdate" class="label-title">입사일</label>
      <input type="date" id="startdate" min="18" max="80" class="form-input">
    </div>

    <div class="form-group" >
        <label for="hdqrt" class="label-title">본부</label>
        <select class="form-input" id="hdqrt" >
          <option value="">본부</option>
          <option value="hr">HR본부</option>
          <option value="ict">ICT개발본부</option>
          <option value="sol">솔루션사업본부</option>
        </select>
      </div>

    <div class="horizontal-group">
      <div class="form-group left" >
        <label for="department" class="label-title">부서</label>
        <select class="form-input" id="department" >
          <option value=" ">부서</option>
          <option value="경영">경영관리부</option>
          <option value="솔루션개발">솔루션개발부</option>
          <option value="si개발">SI개발부</option>
          <option value="영업">영업부</option>
          <option value="전략기획">전략기획부</option>
          <option value="인사관리">인사관리부</option>
        </select>
      </div>
      <div class="form-group right">
        <label for="level" class="label-title">직급</label>
        <select class="form-input" id="level">
          <option value=" ">직급</option>
          <option value="대리">대리</option>
          <option value="과장">과장</option>
          <option value="팀장">팀장</option>
          <option value="부장">부장</option>
          <option value="상무">상무</option>
          <option value="전무">전무</option>
          <option value="부대표">부대표</option>
          <option value="대표">대표</option>
        </select>
      </div>
    </div>

    <div class="horizontal-group">
      <div class="form-group left">
        <label for="bank" class="label-title">급여통장</label>
        <select class="form-option" id="bank" >
          <option value="">은행</option>
          <option value="nh">농협</option>
          <option value="sh">신한</option>
          <option value="kb">국민</option>
          <option value="ha">하나</option>
          <option value="ibk">기업</option>
        </select>
      </div>
      <div class="form-group right">
        <label for="banknumber" class="label-title">　</label>
        <input type="text" id="banknumber" min="18" max="80" class="form-input"/>
      </div>
    </div>

    <div class="form-group" >
      <label for="choose-file" class="label-title">서명 파일 업로드</label><br>
      <input type="file" id="choose-file" size="80">
    </div>

    <div class="form-group">
      <label for="others" class="label-title">참고사항</label>
      <textarea class="form-input" id="others" rows="4" cols="50" style="height:auto"></textarea>
    </div>
  </div>

  <div class="form-footer">
    <span> </span>
    <button type="button" class="btn">취소</button>
    <button type="submit" class="btn">등록</button>
  </div>

</form>

<script>
  var rangeLabel = document.getElementById("range-label");
  var experience = document.getElementById("experience");

  function change() {
    rangeLabel.innerText = experience.value + "K";
  }
</script>

</body>

</html>