<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="mainHeader">
    <title> 타이틀 </title>
</th:block>

<th:block>
    <div layout:fragment="content">
        <div class="container-fluid">
            <!-- 박스 시작-->
            <div class="card shadow col-lg-auto p-0">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary float-left">전자결재 > 결재상신함</h6>
                </div>


                <div class="card-body">
                    <div class="table-responsive">


                        <!--검색버튼-->
                        <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal"
                                data-target="#ecmodal">
                            결재 등록
                        </button>
                        <!-- Modal 모달 -->
                        <div class="modal fade" id="ecmodal" data-backdrop="static" data-keyboard="false"
                             tabindex="-1" aria-labelledby="결재등록창띄움" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">결재 문서 선택</h5>
                                        <!--x버튼 없앰 <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>-->
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>결재 구분</th>
                                                <th>문서 코드</th>
                                                <th>결재문서명</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr onclick="window.location='이동할링크'">
                                                <td>회계</td>
                                                <td>SJDO-0001</td>
                                                <td>지출결의서</td>
                                            </tr>
                                            <tr onclick="window.location='이동할링크'">
                                                <td>인사</td>
                                                <td>SJDO-0003</td>
                                                <td>휴가신청서</td>
                                            </tr>
                                        </table>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary col-2">확인</button>
                                        <button type="button" class="btn btn-secondary col-2" data-dismiss="modal">취소
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--list-->
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>결재 구분</th>
                                <th>결의 번호</th>
                                <th>제목</th>
                                <th>상신 일자</th>
                                <th>상태</th>
                            </tr>
                            </thead>

                            <!-- 데이터 연결시 수정-->
                            <tbody>
                            <tr>
                                <td>회계</td>
                                <td>SJCD-0001</td>
                                <td><a href="결제상세페이지링크">ERP 구축 프로젝트 - 12월 지출 결의서</a></td>
                                <td>2022-10-04</td>
                                <td>반려</td>
                            </tr>
                            <tr>
                                <td>인사</td>
                                <td>SJCD-0002</td>
                                <td><a href="휴가페이지링크">홍길동 12/24 휴가신청서</a></td>
                                <td>2022-10-04</td>
                                <td>승인</td>
                            </tr>
                            </tbody>
                        </table>
                        <!--페이지-->
                        <nav aria-label="Page navigation" class="text-center p-3">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" href="#">이전</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">다음</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>