<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="mainHeader">
    <title>결재상신함</title>
</th:block>

<th:block>
    <div layout:fragment="content">
        <div class="container-fluid">

            <!-- 콘텐츠 내용 -->

            <!-- Head -->
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-70 w-421 py-2">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Electronic Approval</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 박스 시작-->
            <form action="/edms/edms_1" method="post">

                <div class="card shadow col-lg-auto p-0">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary float-left">전자결재 > 결재상신함</h6>
                    </div>
                    <div class="card-body container">
                        <h3 class="text-center mb-3">지출결의서</h3></br>
                        <div class="float-left">결의번호</div>
                        <input class="form-control col-2 ml-2 float-left" type="text" th:value="${expNum}" readonly>
<!--
                            <input type="hidden" name="acRequestDtoList[1].expNum" id="exp_num2">
                            <input type="hidden" name="acRequestDtoList[2].expNum" id="exp_num3">
                            <input type="hidden" name="acRequestDtoList[3].expNum" id="exp_num4">
                            <input type="hidden" name="acRequestDtoList[4].expNum" id="exp_num5">
-->


                        <!-- 테이블1 (결재자정보)-->
                        <table class="table table-bordered text-center align-middle col-8 ml-2 float-right">
                            <thead>
                            <tr>
                                <th rowspan="2" class="align-middle">결재</th>
                                <th>작성자</th>
                                <th>결재자</th>
                            </tr>
                            <tr>
                                <td>[[${empInfo.empName}]]</td>
                                    <input type="hidden" name="acRequestDtoList[0].empId" th:value="${empInfo.empId}">
                                    <input type="hidden" name="acRequestDtoList[1].empId" th:value="${empInfo.empId}">
                                    <input type="hidden" name="acRequestDtoList[2].empId" th:value="${empInfo.empId}">
                                    <input type="hidden" name="acRequestDtoList[3].empId" th:value="${empInfo.empId}">
                                    <input type="hidden" name="acRequestDtoList[4].empId" th:value="${empInfo.empId}">

                                <td><div id="apprText"></div>
                                    <input type="hidden" name="acRequestDtoList[0].appr" id="appr1">
                                    <input type="hidden" name="acRequestDtoList[1].appr" id="appr2">
                                    <input type="hidden" name="acRequestDtoList[2].appr" id="appr3">
                                    <input type="hidden" name="acRequestDtoList[3].appr" id="appr4">
                                    <input type="hidden" name="acRequestDtoList[4].appr" id="appr5"></td>

                                <div>
                                    <input type="hidden" name="acRequestDtoList[0].apprId" id="apprId1">
                                    <input type="hidden" name="acRequestDtoList[1].apprId" id="apprId2">
                                    <input type="hidden" name="acRequestDtoList[2].apprId" id="apprId3">
                                    <input type="hidden" name="acRequestDtoList[3].apprId" id="apprId4">
                                    <input type="hidden" name="acRequestDtoList[4].apprId" id="apprId5">
                                </div>
                                                    <!--div input 밖에다 닫았더니 에러났음 -->

                            </tr>
                            </thead>
                        </table>
                        <div>
                            <!--  테이블2 (제목입력) -->
                            <table class="table table-bordered text-center col-auto">
                                <thead>
                                <tr>
                                    <th>소속</th>
                                    <td>[[${empInfo.hqName}]] [[${empInfo.DepName}]] </td>
                                    <th>상신일자</th>
                                    <td id="date"></td>
                                </tr>
                                <tr>
                                    <th class="align-middle">제목</th>
                                    <td colspan="3"><input type="text" name="acRequestDtoList[0].expTitle" id="exp_title1" class="form-control" placeholder="제목을 입력하세요">
                                        <input type="hidden" name="acRequestDtoList[1].expTitle" id =exp_title2>
                                        <input type="hidden" name="acRequestDtoList[2].expTitle" id =exp_title3>
                                        <input type="hidden" name="acRequestDtoList[3].expTitle" id =exp_title4>
                                        <input type="hidden" name="acRequestDtoList[4].expTitle" id =exp_title5>
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div>
                            <!-- 테이블3 (과목 등등 선택)-->
                            <table class="table table-bordered text-center col-auto" id="info">
                                <thead>
                                <tr>
                                    <th>계정과목</th>
                                    <th>적요</th>
                                    <th>카드/계좌</th>
                                    <th>금액(원)</th>
                                </tr>
                                </thead>
                                <tr id="row1">
                                    <td>
                                        <select class="form-control sel1" name="acRequestDtoList[0].detCode" id="det_code1">
                                            <option value="선택" selected>선택</option>
                                            <option value="복리후생비">복리후생비</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="acRequestDtoList[0].remk" id="remk1" class="form-control sel2"></td>
                                    <td>
                                        <select class="form-control sel3" name="acRequestDtoList[0].comAcc" id="com_acc1">
                                            <option value="선택" selected>선택</option>
                                            <option value="기업은행 110-110-111111">기업은행 110-110-111111</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="acRequestDtoList[0].expense" id="expense1" class="form-control sel4" value="0"></td>
                                </tr>
                                <tr id="row2">
                                    <td>
                                        <select class="form-control" name="acRequestDtoList[1].detCode" id="det_code2">
                                            <option value="선택" selected>선택</option>
                                            <option value="복리후생비">복리후생비</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="acRequestDtoList[1].remk" id="remk2" class="form-control"></td>
                                    <td>
                                        <select class="form-control" name="acRequestDtoList[1].comAcc" id="com_acc2">
                                            <option value="선택" selected>선택</option>
                                            <option value="기업은행 110-110-111111">기업은행 110-110-111111</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="acRequestDtoList[1].expense" id="expense2" class="form-control" value="0"></td>
                                </tr>
                                <tr id="row3">
                                    <td>
                                        <select class="form-control" name="acRequestDtoList[2].detCode" id="det_code3">
                                            <option value="선택" selected>선택</option>
                                            <option value="복리후생비">복리후생비</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="acRequestDtoList[2].remk" id="remk3" class="form-control"></td>
                                    <td>
                                        <select class="form-control" name="acRequestDtoList[2].comAcc" id="com_acc3">
                                            <option value="선택" selected>선택</option>
                                            <option value="기업은행 110-110-111111">기업은행 110-110-111111</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="acRequestDtoList[2].expense" id="expense3" class="form-control" value="0"></td>
                                </tr>
                                <tr id="row4">
                                    <td>
                                        <select class="form-control" name="acRequestDtoList[3].detCode" id="det_code4">
                                            <option value="선택" selected>선택</option>
                                            <option value="복리후생비">복리후생비</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="acRequestDtoList[3].remk" id="remk4" class="form-control"></td>
                                    <td>
                                        <select class="form-control" name="acRequestDtoList[3].comAcc" id="com_acc4">
                                            <option value="선택" selected>선택</option>
                                            <option value="기업은행 110-110-111111">기업은행 110-110-111111</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="acRequestDtoList[3].expense" id="expense4" class="form-control" value="0"></td>
                                </tr>
                                <tr id="row5">
                                    <td>
                                        <select class="form-control" name="acRequestDtoList[4].detCode" id="det_code5">
                                            <option value="선택" selected>선택</option>
                                            <option value="복리후생비">복리후생비</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="acRequestDtoList[4].remk" id="remk5" class="form-control"></td>
                                    <td>
                                        <select class="form-control" name="acRequestDtoList[4].comAcc" id="com_acc5">
                                            <option value="선택" selected>선택</option>
                                            <option value="기업은행 110-110-111111">기업은행 110-110-111111</option>
                                        </select>
                                    </td>
                                    <td><input type="text" name="acRequestDtoList[4].expense" id="expense5" class="form-control" value="0"></td>
                                </tr>


                            </table>
                        </div>
                        <div>
                            <!-- 테이블4(파일등록) -->
                            <table class="table table-bordered text-center col-auto">
                                <thead>
                                <tr>
                                    <th>증빙서류</th>
                                    <td><input type="file" class="form-control-file" name="acRequestDtoList[0].attFile" id="file">
                                        <img id="preview" width="700" alt="미리보기"/>
                                        <input type="hidden" name="acRequestDtoList[1].attFile" id =file2>
                                        <input type="hidden" name="acRequestDtoList[2].attFile" id =file3>
                                        <input type="hidden" name="acRequestDtoList[3].attFile" id =file4>
                                        <input type="hidden" name="acRequestDtoList[4].attFile" id =file5>
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>

                        <!--결재선 버튼-->
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal1" onclick="filter()">
                            결재선 등록
                        </button>
                        <!-- Modal 모달 -->
                        <div class="modal fade" id="modal1" data-backdrop="static" data-keyboard="false"
                             tabindex="-1" aria-labelledby="결재자리스트띄움" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="input-group mt-3">
<!--                                            <input type="text" id="modalSearch" class="form-control bg-light" placeholder="이름을 입력하세요">-->
<!--                                            <button type="button" class="btn btn-primary">검색</button>-->
                                        </div></br>
                                        <table class="table table-bordered table-hover text-center" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th style="display: none">사번</th>
                                                <th>본부</th>
                                                <th>부서</th>
                                                <th>직급</th>
                                                <th>성명</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="ac : ${acList}">
                                                <td th:text="${ac.empId}" style="display: none"></td>
                                                <td th:text="${ac.hqName}"></td>
                                                <td th:text="${ac.depName}"></td>
                                                <td th:text="${ac.jobName}"></td>
                                                <td th:text="${ac.empName}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" id="hidden">
<!--                                                            <button class="btn btn-primary" id="btn">확인</button>-->
                                        <button class="btn btn-secondary" data-dismiss="modal">취소</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" id="submit" class="btn btn-primary" style="width: 100px">등록</button>
                            <button type="button" class="btn btn-primary" style="width: 100px" onclick="location.href='/edms/edms_1'">취소</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</th:block>


</html>