<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="mainHeader">

    <title>회계 전표</title>

</th:block>

<th:block>
    <div layout:fragment="content">
        <div class="container-fluid">
            <!-- Head -->
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-70 w-421 py-2">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Accounting</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 글목록 -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">회계 전표</h5>
                </div>

                <!-- 조회기간 박스-->
                <div class="card-body ">
                    <div class="table-responsive border p-3 row">
                        조회 기간
                        <form
                                class="d-none d-sm-inline-block form-inline navbar-search mb-3">
                            <div class="input-group" style="width: 600px">
                                <input type="date" class="form-control bg-light border-1 mx-2"
                                       aria-label="start" id="searchSDate"> ＿
                                <input type="date" class="form-control bg-light border-1 small ml-2"
                                       aria-label="end" aria-describedby="조회끝" id="searchEDate">
                            </div>
                        </form>
                        <button class="btn btn-primary float-right" style="width: 80px" type="button" id="dateSearchBtn"
                                onclick="search()">검색
                        </button>

                    </div>
                </div>


                <!--총 목록 박스-->
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="listTotal"></div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>전표번호</th>
                                <th>거래자명</th>
                                <th>생성일자</th>
                                <th>지출금액</th>
                                <th>수입금액</th>
                            </tr>
                            </thead>

                            <tbody id="list">

                            </tbody>

                        </table>

                    </div>
                </div>


                <!--상세건수 박스-->
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="listDetailTotal"></div>
                        <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>결의번호</th>
                                <th>기안자</th>
                                <th>승인자</th>
                                <th>승인일자</th>
                                <th>거래처명</th>
                                <th>지출금액</th>
                            </tr>
                            </thead>

                            <tbody id="detailList">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/js/accounting/acc.js}"></script>
        <script type="text/javascript" th:src="@{/js/common/setDefaultDate.js}"></script>

    </div>

</th:block>

</html>